{% extends "AnhTiedContentBundle:Admin:layout.html.twig" %}

{% use "AnhContentBundle:Admin:paper/init-add-edit.html.twig" %}

{% block title %}Edit child in {{ section }}{% endblock %}

{% block content %}
    <h2>
        Edit child in <a href="{{ url('anh_tied_content_admin_child_list', { 'parent': parent.getId() }) }}">{{ parent.getTitle() }}</a>
        &middot; {{ section }}
    </h2>

    {{ form(form) }}

    {% include "AnhContentBundle:Admin:paper/uploader-template.html.twig" %}
{% endblock %}
