{% extends "AnhTiedContentBundle:Admin:layout.html.twig" %}

{% import _self as taggable %}

{% block title 'AnhTiedContentBundle admin area' %}

{% form_theme filter 'AnhDoctrineResourceBundle:Form:filter.html.twig' %}

{% block content %}
    <h2>{{ resources.getTotalCount() }} parents in {{ section }}</h2>

    {{ form(filter) }}

    <form action="{{ url('anh_tied_content_admin_tie_delete') }}" method="post" id="fPapers">
        <div class="button_row">
            <a href="{{ url('anh_tied_content_admin_parent_add', { 'section': section }) }}">Create new</a>

            {% if not resources.isEmpty() %}
                <button class="danger" type="submit">Delete</button>
            {% endif %}
        </div>

        {% if not resources.isEmpty() %}
            {% for tie in resources %}
                {% set paper = tie.child %}

                <div class="list_row">
                    <div class="list_row_flags">
                        <input type="checkbox" name="id[]" value="{{ tie.id }}" />

                        <a href="{{ url('anh_tied_content_admin_child_list', { 'section': section, 'id': paper.id }) }}"><i class="fa fa-book"></i></a>

                        <a href="{{ contentUrl(tie) }}"><i class="fa fa-eye"></i></a>

                        {% if paper.isDraft %}
                            <i class="fa fa-pencil is-draft"></i>
                        {% endif %}

                        {% if paper.image %}
                            <i class="fa fa-picture-o has-image"></i>
                        {% endif %}
                    </div>

                    <div class="list_row_content">
                        <a href="{{ url('anh_tied_content_admin_parent_edit', { 'section': section, 'id': tie.id }) }}">{{ paper.title }}</a>
                        <div>
                            {% if sections[section].category and paper.category %}
                                <span>Category:</span> {{ paper.category.title }}
                            {% endif %}

                            {% if sections[section].publishedSince %}
                                <span>Published since:</span> {{ paper.publishedSince|date }}
                            {% endif %}
                        </div>

                        <div class="preview">{{ paper.preview|striptags[:100] ~ '...' }}</div>

                        {% if sections[section].tags and not paper.tags.isEmpty() %}
                            <div class="tags">{{ taggable.listTags(paper.tags) }}</div>
                        {% endif %}

                        <div class="created_updated">
                            Created at: {{ paper.createdAt|date }}
                            &middot;
                            Updated at: {{ paper.updatedAt|date }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {{ anh_paginator_view(resources) }}
        {% endif %}
    </form>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@anh_paginator_css'
        '@AnhContentBundle/Resources/public/style.css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@jquery_js'
    %}<script src="{{ asset_url }}"></script>{% endjavascripts %}

    <script><!--
        $(function() {
            var check = function() {
                $('#fPapers button[type="submit"]').attr('disabled', $('#fPapers input[name="id[]"]:checked').length == 0);
            };

            $('#fPapers input[name="id[]"]').click(check);

            check();

            $('#fPapers').submit(function(event) {
                if(!confirm('Are you sure?')) {
                    event.preventDefault();
                }
            });
        });
    --></script>
{% endblock %}

{% macro listTags(tags, url) %}
    <i class="fa fa-tags"></i>
    <ul>
        {% for tag in tags %}
            <li>
                {% if url %}
                    <a href="{{ url|replace({ '%name%': tag.name }) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                {% else %}
                    {{ tag.getName() }}{% if not loop.last %}, {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
