<article class="block-parent">
    <header>
        <h2>
            <a href="{{ contentUrl(tie) }}">{{ tie.child.title }}</a>
        </h2>
        <div>
            {% set config = contentSections(section) %}

            {% if config['category'] %}
                <a href="{{ contentUrl(tie.child.category) }}">{{ tie.child.category.title }}</a>
            {% endif %}

            {% if config['publishedSince'] %}
                {{ tie.child.publishedSince|date }}
            {% endif %}
        </div>
    </header>

    {% if config['preview'] %}
        <div class="preview">
            {{ tie.child.preview|raw }}
        </div>
    {% endif %}
</article>
