<article class="block-parent">
    <header>
        <h1>
            <a href="{{ contentUrl(paper) }}">{{ paper.getTitle() }}</a>
        </h1>
        <div>
            {% set config = contentSections(section) %}

            {% if config['category'] %}
                <a href="{{ contentUrl(paper.getCategory()) }}">{{ paper.getCategory().getTitle() }}</a>
            {% endif %}

            {% if config['publishedSince'] %}
                {{ paper.getPublishedSince()|date }}
            {% endif %}
        </div>
    </header>

    {% if config['preview'] %}
        <div class="preview">
            {{ paper.getPreview()|raw }}
        </div>
    {% endif %}
</article>
