{% set paper = tie.child %}

<article class="block-parent">
    <header>
        <h2>
            <a href="{{ contentUrl(tie) }}">{{ paper.title }}</a>
        </h2>
        <div>
            {{ paper.publishedSince|date }}

            {% if paper.category %}
                &middot; <a href="{{ contentUrl(paper.category) }}">{{ paper.category.title }}</a>
            {% endif %}
        </div>
    </header>

    {% if paper.preview %}
        <div class="preview">
            {{ paper.preview|raw }}
        </div>
    {% endif %}
</article>
