{% extends 'AnhContentBundle:Default:layout.html.twig' %}

{% block title %}{{ child.title() }}{% endblock %}

{% block content %}
    <h1>
        <a href="{{ contentUrl(parent) }}">{{ parent.child.title }}</a>
        {% if is_granted('ROLE_ADMIN') %}<a href="{{ url('anh_tied_content_admin_edit', { 'tie': parent.id }) }}">edit</a>{% endif %}
    </h1>

    <h2>
        {{ child.title() }}
        {% if is_granted('ROLE_ADMIN') %}<a href="{{ url('anh_tied_content_admin_edit', { 'tie': navigation.current.id }) }}">edit</a>{% endif %}
    </h2>

    <div class="bbcode">
        {{ child.content|raw }}
    </div>

    <div class="tied-content-navigation">
        {% if navigation.prev %}
            <a href="{{ contentUrl(navigation.prev) }}">&larr; prev</a>
        {% else %}
            <span>&larr; prev</span>
        {% endif %}

        <a href="{{ contentUrl(parent) }}">content</a>

        {% if navigation.next %}
            <a href="{{ contentUrl(navigation.next) }}">next &rarr;</a>
        {% else %}
            <span>next &rarr;</span>
        {% endif %}
    </div>
{% endblock %}
