{% extends 'AnhContentBundle:Default:layout.html.twig' %}

{% block title %}{{ resource.child.title }}{% endblock %}

{% block content %}
    <h1>
        <a href="{{ contentUrl(resource.parent) }}">{{ resource.parent.title }}</a>
    </h1>

    <h2>
        {{ resource.child.title }}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('anh_tied_content_admin_child_edit', { 'section': section, 'parent': resource.parent.id, 'id': resource.id }) }}">edit</a>
        {% endif %}
    </h2>

    <div class="bbcode">
        {{ resource.child.content|raw }}
    </div>

    {% include 'AnhTiedContentBundle:Default:_navigation.html.twig' with { section: resource.child.section } %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@anh_tied_content_navigation_css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}
