{% extends 'AnhContentBundle:Default:layout.html.twig' %}

{% block title %}{{ child.title() }}{% endblock %}

{% block content %}
    <h1>
        <a href="{{ contentUrl(parent) }}">{{ parent.child.title }}</a>
        {% if is_granted('ROLE_ADMIN') %}<a href="{{ url('anh_tied_content_admin_edit', { 'tie': parent.id }) }}">edit</a>{% endif %}
    </h1>

    <h2>
        {{ child.title() }}
        {% if is_granted('ROLE_ADMIN') %}<a href="{{ url('anh_tied_content_admin_edit', { 'tie': navigation.current.id }) }}">edit</a>{% endif %}
    </h2>

    <div class="bbcode">
        {{ child.content|raw }}
    </div>

    {% include 'AnhTiedContentBundle:Default:_navigation.html.twig' with { section: parent.child.section } %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@anh_tied_content_navigation_css'
    %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}
